{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Title }}</h1>
    </div>
</div>

<div class="row-fluid content-row">
    <div class="span12 bs-docs-sidebar">
        {{ with .Params.description }}<p class="lead">{{ . }}</p>{{ end }}
        <div class="post-content newsletter-embed">
            {{ .Content }}
            {{ partial "mailchimp-embed.html" . }}
        </div>

        <h4 class="post-end-links">
            <a href="{{ "/" | relLangURL }}">{{ i18n "backtohome" }}</a>
            <a href="#" class="random-post-btn" data-random-json="{{ "posts/index.random.json" | relLangURL }}">
                {{ i18n "randompost" }}
            </a>
        </h4>

        <ul class="pager">
            {{ with .PrevInSection }}
            <li class="previous"><a href="{{ .Permalink }}">&larr; {{ i18n "prevpost" | default "Previous" }}: {{ .Title }}</a></li>
            {{ end }}
            {{ with .NextInSection }}
            <li class="next"><a href="{{ .Permalink }}">{{ i18n "nextpost" | default "Next" }}: {{ .Title }} &rarr;</a></li>
            {{ end }}
        </ul>
    </div>
</div>

<style>
    .newsletter-embed #mc_embed_signup {
        margin-top: 20px;
    }
    .post-end-links a {
        margin-right: 20px;
    }
</style>

{{ end }}
